{{.Header}}
<div class="row">
    <div class="col-md-5 mb-4">
        <div class="mb-4 bg-right-custom rounded">
            {{.NavigationBar}}
        </div>
        {{.SearchComponent}}
    </div>
    <div class="col-md-7">
        <div class="p-4 bg-right-custom rounded">
            <h1 class="text-center">Generasjon {{.GenerationTitle}}</h1>
            <div class="item-container">
                {{range $i, $pokedexEntry := .PokemonPokedexEntries}}
                <div>
                    <div class="p-2 m-2 text-center bg-left-custom rounded">
                        <img class="w-100" src="http://pokemon.habski.me/images/sprites/front/{{$pokedexEntry.URL | getId}}.png">
                    </div>
                    <p class="ml-2 text-left">
                        <span class="text-dark">
                            #{{$pokedexEntry.URL | getId}}
                        </span>
                        <br>
                        {{$pokedexEntry.Name | tostring | totitle}}
                    </p>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{.Footer}}