<!DOCTYPE html>
<html lang="nb-NO">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex Lite | Søkeresultater</title>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/navigation_bar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<style type="text/css">
@media (min-width: 1200px) {
    .container {
        max-width: 1800px;
    }
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #2a4e89;
}

h1,
p {
    color: #ffcb05;
}

.bg-left-custom {
    background-color: #4f7ec9;
}

.bg-right-custom {
    background-color: #3564AE;
}

.item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
</style>

<body>
    <div id="app">
        <main class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-12 rounded-left mb-4 bg-right-custom">
                            {{.NavigationBar}}
                        </div>
                        <div class="col-md-12 rounded mb-4 p-4 bg-left-custom">
                            <h1 class="border-bottom mb-4 text-center">Pokedex Lite</h1>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <form method="POST">
                                        <div class="form-group">
                                            <label>Søk etter Pokemon med navn eller ID</label>
                                            <input type="text" class="form-control" id="pokemon" name="pokemon" placeholder="Prøv Pikachu eller 25">
                                        </div>
                                        <button type="submit" class="btn btn-block btn-success">Søk</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-12 rounded-right bg-right-custom p-2">
                            <h1 class="text-center">Generasjon {{.GenerationTitle}}</h1>
                            <div class="item-container">
                                {{range $i, $pokedexEntry := .PokemonPokedexEntries}}
                                <div>
                                    <div class="text-center bg-left-custom rounded m-2 p-2">
                                        <img class="w-100" src="/static/images/sprites/front/{{$pokedexEntry.URL | getId}}.png">
                                    </div>
                                    <p class="text-left ml-2">
                                        <span class="text-dark">
                                            #{{$pokedexEntry.URL | getId}}
                                        </span>
                                        <br>
                                        {{$pokedexEntry.Name | tostring | totitle}}
                                    </p>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>