{{.Header}}
<div class="row">
    <div class="col-md-5 mb-4">
        <div class="mb-4 bg-right-custom rounded">
            {{.NavigationBar}}
        </div>
        {{.SearchComponent}}
        <div class="p-4 bg-left-custom rounded">
            <h1 class="mb-4 text-center">Generation {{.GenerationTitle}}</h1>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 1)}} active {{else}} inactive {{end}}" href="/generation/1/pokemon/1">Gen <br> I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 2)}} active {{else}} inactive {{end}}" href="/generation/2/pokemon/1">Gen <br> II</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 3)}} active {{else}} inactive {{end}}" href="/generation/3/pokemon/1">Gen <br> III</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 4)}} active {{else}} inactive {{end}}" href="/generation/4/pokemon/1">Gen <br> IV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 5)}} active {{else}} inactive {{end}}" href="/generation/5/pokemon/1">Gen <br> V</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 6)}} active {{else}} inactive {{end}}" href="/generation/6/pokemon/1">Gen <br> VI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .GenerationId 7)}} active {{else}} inactive {{end}}" href="/generation/7/pokemon/1">Gen <br> VII</a>
                </li>
            </ul>
            <div class="col-md-6 mx-auto">
                <div class="btn btn-block bg-right-custom" data-toggle="collapse" data-target="#collapseGeneration" aria-expanded="true" aria-controls="collapseGeneration">
                    <i class="fas fa-sort-down text-light"></i>
                </div>
            </div>
            <div class="collapse item-container" id="collapseGeneration">
                {{range $i, $pokedexEntry := .PokemonPokedexEntries}}
                <div>
                    <div class="p-2 m-2 text-center bg-right-custom rounded">
                        <img src="http://pokemon.habski.me/images/sprites/front/{{$pokedexEntry.URL | getId}}.png" class="w-100" alt="{{$pokedexEntry.Name | tostring | totitle}}">
                    </div>
                    <p class="ml-2 text-left">
                        <span class="text-dark">
                            #{{$pokedexEntry.URL | getId}}
                        </span>
                        <br>
                        {{$pokedexEntry.Name | tostring | totitle}}
                    </p>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="p-4 bg-right-custom rounded">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center pb-4">
                    <div class="col-md-3 justify-content-center align-self-center">
                        <a href="/generation/{{.GenerationId}}/pokemon/{{.PokemonPreviousId}}">
                            <p class="text-center">{{.PokemonPreviousName}} #{{.PokemonPreviousId}}</p>
                            <img class="w-100 bg-left-custom rounded" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{.PokemonPreviousId}}.png" alt="Previous Pokemon - {{.PokemonPreviousName}} #{{.PokemonPreviousId}}">
                        </a>
                    </div>
                    <div class="col-md-6 justify-content-center align-self-center">
                        <h1 class="text-center">{{.PokemonName}} #{{.PokemonId}}</h1>
                        <img class="w-100 bg-left-custom rounded" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{.PokemonId}}.png" alt="Current Pokemon - {{.PokemonName}} #{{.PokemonId}}">
                    </div>
                    <div class="col-md-3 justify-content-center align-self-center">
                        <a href="/generation/{{.GenerationId}}/pokemon/{{.PokemonNextId}}">
                            <p class="text-center">{{.PokemonNextName}} #{{.PokemonNextId}}</p>
                            <img class="w-100 bg-left-custom rounded" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{.PokemonNextId}}.png" alt="Next Pokemon - {{.PokemonNextName}} #{{.PokemonNextId}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Type</h3>
                        {{range $i, $pokemonType := .PokemonTypes}}
                        <div class="p-2 mb-2 rounded" style="background-color: #{{$pokemonType.Type.Name | getColor}}">
                            <span>{{$pokemonType.Type.Name | tostring | totitle}}</span>
                        </div>
                        {{end}}
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="p-2 bg-left-custom rounded">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Height:</span>
                                    <h5 class="text-light">{{.PokemonHeight}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <span>Wight:</span>
                                    <h5 class="text-light">{{.PokemonWeight}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Category:</span>
                                    <h5 class="text-light">{{.PokemonGenus}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <span>Abilities:</span>
                                    {{range $i, $ability := .PokemonAbilities}}
                                    <h5 class="text-light">{{$ability.Ability.Name | tostring | totitle}}</h5>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3>Weakness</h3>
                        {{range $i, $type := .TypeData}}
                        {{range $j, $typeWeakness := $type.DamageRelations.DoubleDamageFrom}}
                        <div class="p-2 mb-2 rounded" style="background-color: #{{$typeWeakness.Name | getColor}}">
                            <span>{{$typeWeakness.Name | tostring | totitle}}</span>
                        </div>
                        {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{.Footer}}