<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Pokedex Lite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Hjem <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Quiz?</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Generasjon</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/generation/1">Generation I</a>
                    <a class="dropdown-item" href="/generation/2">Generation II</a>
                    <a class="dropdown-item" href="/generation/3">Generation III</a>
                    <a class="dropdown-item" href="/generation/4">Generation IV</a>
                    <a class="dropdown-item" href="/generation/5">Generation V</a>
                    <a class="dropdown-item" href="/generation/6">Generation VI</a>
                    <a class="dropdown-item" href="/generation/7">Generation VII</a>
                </div>
            </li>
        </ul>
    </div>
</nav>