{{.Header}}
<div class="row">
    <div class="col-md-5 mb-4">
        <div class="mb-4 bg-right-custom rounded">
            {{.NavigationBar}}
        </div>
        {{.SearchComponent}}
    </div>
    <div class="col-md-7">
        <div class="p-4 text-center bg-right-custom rounded">
            <h1>Søkeresultater</h1>
            {{if .SearchSuccess}}
            <h3><a href="/generation/{{.PokemonGeneration}}/pokemon/{{.PokemonId}}">{{.PokemonName}} #{{.PokemonId}}</a></h3>
            <a href="/generation/{{.PokemonGeneration}}/pokemon/{{.PokemonId}}">
                <img class="w-50 bg-left-custom rounded" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{.PokemonId}}.png" alt="{{.PokemonName}} #{{.PokemonId}}">
            </a>
            {{end}}
            {{if .SearchNoResults}}
            <h3 class="text-danger">Fant ingenting</h3>
            {{end}}
        </div>
    </div>
</div>
{{.Footer}}